* {
  margin: 0;
  padding: 0; }

ul, li {
  list-style: none; }

a {
  text-decoration: none; }

html, body {
  height: 100%; }

body {
  font-size: 12px;
  line-height: 1.5;
  font-family: "Microsoft YaHei";
  color: #888;
  background: #f0f0f0; }
  body .newleft {
    width: 74px;
    position: fixed;
    left: 0;
    top: 0;
    height: 323px;
    display: block; }
    body .newleft ul {
      width: 74px;
      height: 100%;
      background: #d10048;
      position: fixed;
      top: 0;
      left: 0;
      padding-top: 10px;
      text-align: center;
      z-index: 10; }
      body .newleft ul li {
        height: 46px;
        line-height: 46px;
        overflow: hidden;
        background: url(../img/navbg.png) no-repeat center bottom; }
        body .newleft ul li a {
          display: block;
          width: 74px;
          height: 44px;
          color: #fff;
          overflow: hidden; }
        body .newleft ul li a:hover {
          background: #db366f; }
        body .newleft ul li .productMenu {
          width: 74px;
          height: 100%;
          background: #ababab;
          background: #ababab;
          position: fixed;
          left: 74px;
          text-align: center;
          top: 0;
          padding-top: 46px;
          display: none; }
          body .newleft ul li .productMenu span {
            display: block;
            width: 100%;
            height: 1px;
            background: #edece4;
            opacity: 0.2; }
  body .newright {
    width: 54px;
    position: fixed;
    right: 10px;
    top: 10%;
    height: auto;
    z-index: 10; }
    body .newright div {
      border: 0;
      position: relative; }
      body .newright div a img {
        display: block; }
    body .newright .ke {
      height: 92px;
      width: 231px;
      position: absolute;
      top: 90px;
      right: 200px;
      opacity: 0;
      z-index: -2; }
      body .newright .ke .kefuTel {
        display: block; }
    body .newright .newtop {
      display: none; }
  body .head {
    width: 100%;
    overflow: hidden; }
    body .head .search {
      width: 100%;
      height: 80px;
      background: rgba(0, 0, 0, 0.3);
      position: relative;
      z-index: 999; }
      body .head .search .search-box {
        opacity: 1;
        width: 700px;
        height: 40px;
        top: 16px;
        left: 50%;
        margin-left: -350px;
        background: #666;
        position: relative;
        z-index: 999; }
        body .head .search .search-box form #searchInput {
          width: 550px;
          height: 40px;
          padding: 0 18px;
          font-size: 14px;
          color: #555;
          border: 0 none;
          background: #FFFFFF;
          overflow: hidden;
          vertical-align: middle; }
        body .head .search .search-box form input:nth-last-of-type(1) {
          width: 110px;
          height: 40px;
          text-align: center;
          font-size: 14px;
          color: #FFFFFF;
          border: none;
          overflow: hidden;
          vertical-align: middle;
          background: #000000;
          outline: none;
          cursor: pointer; }
        body .head .search .search-box .close {
          cursor: pointer;
          width: 24px;
          height: 24px;
          position: absolute;
          top: 8px;
          right: -40px;
          background: url(../img/vivo-head-ico.png) no-repeat -86px 0; }
  body header {
    width: 1152px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    body header h1 {
      height: 70px;
      padding-top: 10px;
      line-height: 70px; }
      body header h1 a img {
        display: inline-block; }
    body header ul {
      margin-top: 34px;
      height: 23px;
      float: right;
      position: relative;
      right: -10px;
      display: inline; }
      body header ul li {
        float: left; }
        body header ul li a {
          position: relative;
          padding: 0 2px;
          color: #888; }
          body header ul li a .oSpan {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: #D10048;
            position: absolute;
            top: -2px;
            left: 15px;
            text-align: center;
            padding: 0 1px;
            color: #FFFFFF;
            line-height: 18px;
            font-size: 12px; }
        body header ul li .tel {
          display: inline-block;
          padding-right: 6px;
          font-size: 18px;
          background-position: 0 -45px;
          width: 23px;
          height: 22px;
          margin-top: -8px; }
        body header ul li .fdj {
          display: inline-block;
          font-size: 20px;
          margin-top: -6px; }
  body .footer {
    margin-top: 60px; }
    body .footer .footerTop {
      margin-top: 10px 0;
      height: 180px;
      width: 1152px;
      margin: 0 auto;
      border-bottom: 1px solid #dce0e3;
      padding-bottom: 30px; }
      body .footer .footerTop .fl {
        width: 39%;
        float: left;
        display: inline; }
        body .footer .footerTop .fl ul li {
          margin-right: 20px !important;
          float: left;
          display: inline;
          margin: 10px 30px 0 0;
          text-align: center; }
          body .footer .footerTop .fl ul li a {
            display: block;
            color: #888888;
            font-size: 18px; }
          body .footer .footerTop .fl ul li .md {
            width: 76px;
            height: 75px;
            border-radius: 50%;
            margin: 0 auto 10px;
            border: 2px solid #aaa;
            font-size: 58px;
            line-height: 75px;
            text-align: center; }
      body .footer .footerTop .fc {
        width: 61%;
        float: right;
        display: inline; }
        body .footer .footerTop .fc dl {
          width: 117px !important;
          float: left;
          text-shadow: #fff 0 1px 0;
          font-size: 14px;
          line-height: 30px; }
          body .footer .footerTop .fc dl dt {
            font-size: 18px;
            font-weight: normal; }
          body .footer .footerTop .fc dl dd a {
            color: #888; }
        body .footer .footerTop .fc .ewm dd img {
          width: 100px;
          display: inline-block; }
    body .footer .footerBottom {
      padding-bottom: 20px;
      width: 100%;
      margin-top: 12px;
      padding: 25px 0 0; }
      body .footer .footerBottom ul {
        width: 555px;
        margin: 0 auto; }
        body .footer .footerBottom ul li {
          float: left;
          display: inline-block;
          border-right: 1px solid #909090;
          border-left: 1px solid #e0e0e0;
          height: 20px;
          line-height: 20px; }
          body .footer .footerBottom ul li a {
            color: #888888;
            padding: 0 12px;
            font-size: 15px; }
        body .footer .footerBottom ul .one {
          border-left: none; }
        body .footer .footerBottom ul .last {
          border-right: none; }
      body .footer .footerBottom p {
        width: 578px;
        margin: 0 auto;
        font-size: 14px;
        text-shadow: #fff 0 1px 0;
        padding-bottom: 20px; }
        body .footer .footerBottom p a img {
          vertical-align: middle;
          border: 0; }
      body .footer .footerBottom .fbdiv {
        padding-bottom: 10px;
        text-align: center; }
        body .footer .footerBottom .fbdiv a {
          padding: 0 10px;
          color: #888888;
          font-size: 12px;
          line-height: 16px; }
          body .footer .footerBottom .fbdiv a img {
            vertical-align: middle;
            border: 0; }
  body #mainContent {
    width: auto;
    height: auto; }
    body #mainContent .banbox {
      width: 1152px;
      margin: 0 auto;
      height: 412px; }
      body #mainContent .banbox .ban:hover span {
        opacity: 1; }
      body #mainContent .banbox .ban {
        width: 100%;
        height: 400px;
        position: relative;
        margin-bottom: 20px;
        overflow: hidden; }
        body #mainContent .banbox .ban ul {
          position: absolute;
          width: 4000px;
          height: 412px; }
          body #mainContent .banbox .ban ul li {
            visibility: visible;
            display: list-item;
            float: left;
            width: 1152px;
            height: 400px; }
            body #mainContent .banbox .ban ul li a img {
              width: 1152px;
              height: 400px;
              left: -29px; }
        body #mainContent .banbox .ban span {
          font-size: 24px;
          z-index: 99999;
          background: #222;
          color: #fff;
          position: absolute;
          top: 50%;
          opacity: 0;
          cursor: pointer;
          width: 42px;
          text-align: center;
          height: 43px;
          line-height: 43px;
          visibility: visible; }
        body #mainContent .banbox .ban span:hover {
          background: #e1472f;
          opacity: 1; }
        body #mainContent .banbox .ban .lbtn {
          left: 0; }
        body #mainContent .banbox .ban .rbtn {
          right: 0; }
        body #mainContent .banbox .ban #focusList {
          position: absolute;
          bottom: 0;
          left: 294px;
          z-index: 99999; }
          body #mainContent .banbox .ban #focusList > div {
            float: left;
            width: 188px;
            height: 6px;
            z-index: 9999;
            cursor: pointer;
            background: #fff; }
          body #mainContent .banbox .ban #focusList div.cur {
            background: red;
            height: 6px; }
    body #mainContent .content {
      width: 1152px;
      height: auto;
      margin: 0 auto; }
      body #mainContent .content .cbox {
        width: 1152px;
        height: auto;
        display: flex;
        justify-content: space-around; }
        body #mainContent .content .cbox .col {
          position: relative;
          float: left;
          width: 380px; }
          body #mainContent .content .cbox .col > a {
            color: #888888;
            position: absolute;
            width: 380px;
            height: 227px; }
          body #mainContent .content .cbox .col li {
            display: flex;
            margin-right: 2px;
            margin-bottom: 4px;
            background: #FFFFFF; }
            body #mainContent .content .cbox .col li > a > .libox {
              width: 164px;
              height: 201px;
              margin: 0 auto;
              padding: 16px 10px 10px 16px; }
              body #mainContent .content .cbox .col li > a > .libox h2 {
                font-size: 14px;
                color: #000;
                width: 164px;
                height: 40px;
                line-height: 20px; }
              body #mainContent .content .cbox .col li > a > .libox p {
                width: 164px;
                height: auto;
                color: #888888;
                line-height: 16px; }
              body #mainContent .content .cbox .col li > a > .libox .redtxt {
                color: #D10048; }
              body #mainContent .content .cbox .col li > a > .libox .price {
                font-size: 24px;
                margin-top: 46px; }
            body #mainContent .content .cbox .col li .a1 {
              position: relative;
              top: 0; }
            body #mainContent .content .cbox .col li .a1 img {
              display: block;
              border: 0;
              width: 190px;
              height: 226px; }
            body #mainContent .content .cbox .col li .a5 img {
              width: 380px;
              display: inline-block; }
            body #mainContent .content .cbox .col li .zuo {
              padding: 10px;
              width: 190px; }
              body #mainContent .content .cbox .col li .zuo h2 {
                font-size: 14px;
                color: #000;
                width: 165px;
                height: 40px;
                line-height: 20px; }
              body #mainContent .content .cbox .col li .zuo p {
                width: 164px;
                height: auto;
                color: #888888;
                line-height: 16px; }
              body #mainContent .content .cbox .col li .zuo .redtxt {
                color: #D10048; }
              body #mainContent .content .cbox .col li .zuo .price {
                font-size: 24px;
                margin-top: 46px; }
          body #mainContent .content .cbox .col .all-info {
            background: #fff;
            position: absolute;
            left: 0;
            top: 0;
            width: 380px;
            z-index: -1;
            opacity: 0; }
            body #mainContent .content .cbox .col .all-info .inner {
              position: relative;
              overflow: hidden;
              height: 689px; }
              body #mainContent .content .cbox .col .all-info .inner .closed {
                width: 24px;
                height: 24px;
                position: absolute;
                top: 8px;
                right: 10px;
                background: url(../img/vivo-head-ico.png) no-repeat -86px 0; }
                body #mainContent .content .cbox .col .all-info .inner .closed img {
                  width: 100%;
                  border: 0;
                  vertical-align: middle; }
              body #mainContent .content .cbox .col .all-info .inner .b {
                padding: 20px; }
                body #mainContent .content .cbox .col .all-info .inner .b h2 {
                  color: #666;
                  font-size: 14px;
                  line-height: 2; }
                  body #mainContent .content .cbox .col .all-info .inner .b h2 a {
                    color: #888; }
                body #mainContent .content .cbox .col .all-info .inner .b p {
                  line-height: 22px; }
                  body #mainContent .content .cbox .col .all-info .inner .b p a {
                    color: #888; }
                body #mainContent .content .cbox .col .all-info .inner .b .car-wrap {
                  width: 100%;
                  text-align: right;
                  margin-top: 10px; }
                  body #mainContent .content .cbox .col .all-info .inner .b .car-wrap .price {
                    color: red;
                    font-size: 14px; }
                  body #mainContent .content .cbox .col .all-info .inner .b .car-wrap .carbtn {
                    background: url(../img/index-bg.png) no-repeat 0 -112px;
                    display: inline-block;
                    margin-right: 10px;
                    width: 30px;
                    height: 30px;
                    vertical-align: -10px; }
                body #mainContent .content .cbox .col .all-info .inner .b .all-info-list {
                  margin-top: 30px;
                  width: 100%; }
                  body #mainContent .content .cbox .col .all-info .inner .b .all-info-list li {
                    width: 27.4%;
                    float: left;
                    margin: 0 10px;
                    text-align: center; }
                    body #mainContent .content .cbox .col .all-info .inner .b .all-info-list li img {
                      display: inline-block;
                      width: 80px;
                      height: 104px; }
          body #mainContent .content .cbox .col a > .tu > .a1 img {
            width: 380px;
            height: 227px; }
          body #mainContent .content .cbox .col a > .tu1 > .a1 img {
            width: 380px;
            height: 458px; }
      body #mainContent .content .bBox {
        width: 1152px; }
        body #mainContent .content .bBox .box1 {
          width: 1152px;
          height: 227px;
          margin: 0 0 4px 0;
          cursor: pointer;
          display: flex; }
        body #mainContent .content .bBox .box1 .col-one,
        body #mainContent .content .bBox .box1 .col-two {
          display: flex;
          justify-content: space-around; }
        body #mainContent .content .bBox .box1 .COL {
          width: 49.5%;
          margin-right: 4px;
          margin: 0 4px 0 0;
          position: relative;
          overflow: hidden; }
          body #mainContent .content .bBox .box1 .COL .onel {
            padding: 20px 15px 0;
            width: 228px;
            color: #969696;
            background: #fff;
            height: 227px; }
            body #mainContent .content .bBox .box1 .COL .onel h4 {
              line-height: 22px;
              margin-bottom: 20px;
              height: 40px;
              overflow: hidden; }
              body #mainContent .content .bBox .box1 .COL .onel h4 a {
                color: #888;
                font-size: 14px; }
            body #mainContent .content .bBox .box1 .COL .onel p {
              width: 94%;
              height: 108px; }
              body #mainContent .content .bBox .box1 .COL .onel p a {
                color: #969696; }
              body #mainContent .content .bBox .box1 .COL .onel p .text1 {
                color: #D10048;
                display: block; }
          body #mainContent .content .bBox .box1 .COL .oImg {
            height: 227px;
            width: 342px;
            float: right;
            overflow: hidden;
            position: relative;
            top: 0; }
          body #mainContent .content .bBox .box1 .COL .oImg1 {
            position: relative;
            top: 0; }
        body #mainContent .content .bBox .box1 .col-four .onel,
        body #mainContent .content .bBox .box1 .col-th .onel {
          padding: 20px 10px; }
        body #mainContent .content .bBox .col-b {
          position: relative; }
          body #mainContent .content .bBox .col-b .COL {
            justify-content: space-around;
            display: flex;
            position: relative; }
            body #mainContent .content .bBox .col-b .COL .onel {
              top: 0; }
    body #mainContent .arrow-right {
      width: 0;
      height: 0;
      position: absolute;
      top: 43px;
      right: 0;
      z-index: 89999;
      border-bottom: 14px solid transparent;
      border-right: 14px solid #fff;
      border-top: 14px solid transparent; }
    body #mainContent .arrow-left {
      width: 0;
      height: 0;
      position: absolute;
      top: 43px;
      left: 0;
      z-index: 89999;
      border-bottom: 14px solid transparent;
      border-left: 14px solid #fff;
      border-top: 14px solid transparent; }

/*# sourceMappingURL=index.css.map */
